<!DOCTYPE HTML>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<section class="jumbotron text-center d-flex aling-items-center h-100" layout:fragment="pageHead">
    <div class="container align-self-center">
        <h1 class=jumbotron-heading">Список книг</h1>

    </div>

</section>

</body>
</html>